@import "./mixins.scss";
@import "./classes.scss";
@import "~vuetify/src/components/VAppBar/_variables.scss";
@import "~vuetify/src/components/VNavigationDrawer/_variables.scss";
@import "~vuetify/src/components/VCard/_variables.scss";
@import "~vuetify/src/components/VMenu/_variables.scss";

// ————————————————————————————————————
//* ——— Shadows
// ————————————————————————————————————

@include app-elevation(elevation-1, 1, true);

@include app-elevation(elevation-2, 2, true);

@include app-elevation(elevation-3, 3, true);

@include app-elevation(elevation-4, 4, true);

@include app-elevation(elevation-6, 5, true);

@include app-elevation(elevation-8, 8, true);

@include app-elevation(elevation-9, 9, true);

@include app-elevation(elevation-12, 12, true);

@include app-elevation(elevation-16, 16, true);

@include app-elevation(elevation-24, 24, true);

//
//* ——— Override Vuetify Usage of `elevation` mixin ——————————————————
//

@include app-elevation("v-app-bar", 0, true);

// Card
@include app-elevation("v-sheet.v-card--hover:hover", 0, true);
@include app-elevation("v-sheet.v-card--hover:focus", 0, true);
@include app-elevation("v-card--raised", 0, true);

// Menu
@include app-elevation("v-menu__content", 0);
@include app-elevation("v-menu__content.theme--dark", 0);

// VCard
@include app-elevation("v-sheet.v-card:not(.v-sheet--outlined)", 0, true);

//
//* ——— App Bar ——————————————————
//

@include theme(v-app-bar) using ($material) {
	background-color: map-get($material, "app-bar") !important;
  border-bottom-color: rgba(map-get($material, "primary-shade"),0.12) !important;
  border-width: 0 0 thin;
  border-style: solid;
}
